# Yarn
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Hardhat
artifacts
typechain-types
cache

# Typescript
dist
tsconfig.tsbuildinfo

# Misc
.env
.DS_Store
.secrets
.wallet.json

# Slither
scripts/slither-results/*
!scripts/slither-results/.gitkeep



